
body {
	background-color: #003153;
}

img.passport {	
	width: 85px;
	border-radius: 50%;
	position: absolute; 
	left: 45%;
	top: 3%;
    margin-left: 90px;
	border-width: 50px;
}

.header{
	margin-top: 120px;
}

.welcome{
	color: #808000;
	position: absolute; 
	left: 47%;
	top: 5%;	
}

.about{
	color: #808000;
	position: absolute;
	right: 15%;
	left: 12%;
}

.aboutDeepsHistory{
	color: #808000;
	position: absolute;
	top: 51%;
	right: 15%;
	left: 12%;
}

b{
	position: absolute;
	left: 7%;
}

.rightFooter{
color: #808000;
position: absolute;
left:88.7%;
}

.leftFooter{
	position: absolute;
}

.linkedin{
	border-radius: 0%;
	top: 25%;
}

.facebook{
	width: 40px;
	border-radius: 0%;
	top: 33%;
	left: 47%;
}

.instagram{
	width: 40px;
	border-radius: 0%;
	top: 45%;
	left: 47%;
}

.github{
	width: 50px;
	border-radius: 0%;
	top: 57%;
	left: 47%;
}

.common{
	background-color: #808000;

}


img.school{
	width:200px;
	position: absolute;
	border-radius: 0%;
	top: 100%;
	left: 0%;
	margin: 40px 40px 40px 40px;
}

img.college{
	width:160px;
	position: absolute;
	border-radius: 0%;
	top: 105%;
	left: 30%;
	margin: 40px 40px 40px 40px;
}

img.office{
	width:160px;
	position: absolute;
	border-radius: 0%;
	top: 105%;
	left: 55%;
	margin: 40px 40px 40px 40px;
}

img.hobby{
	width:160px;
	position: absolute;
	border-radius: 0%;
	top: 105%;
	left: 80%;
	margin: 40px 40px 40px 40px;
}

div.schoolText{
	position: absolute;
	color: #808000;
	top:103%;
	left:8%;
}

div.collegeText{
	position: absolute;
	color: #808000;
	top: 103%;
	left: 37%;
}

div.companyText{
	position: absolute;
	color: #808000;
	top: 103%;
	left: 60%;
}

div.hobbiesText{
	position: absolute;
	color: #808000;
	top: 103%;
	left: 86%;
}